h1,h2,h3 {
  font-family: 'Fjalla One', Helvetica, Verdana, sans-serif;
  font-stretch: ultra-condensed;
}

h1 { color: white; }

@media only screen and (min-width: 40.063em) {
  h2 { font-size: 300%; }
  h3 { font-size: 200%; }
  #footer h1 { font-size: 2em; }
  #footer h2 { font-size: 1.5em; }
}

h4 {
  font-family: 'Fjalla One', Helvetica, Verdana, sans-serif;
  color: #337F7F;
  text-transform: uppercase;
}

.contain-to-grid,
.toggle-topbar,
.top-bar,
.top-bar .top-bar-section .right li a,
.top-bar.expanded .title-area,
p strong,
.top-bar .name h1 a,
#footer,
#footer h1,
#footer h2,
#footer a {
  font-family: 'Patua One', Helvetica, Arial, sans-serif;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.logo {
  padding: 4px 5px 0 0;
  vertical-align: text-top;
}

.contain-to-grid,
.toggle-topbar,
.top-bar,
.top-bar .top-bar-section .right li a,
.top-bar.expanded .title-area
{
  background: #FFF;
  color: #333;
  letter-spacing: 1px;
}

.top-bar.expanded .top-bar-section .right li a { background-color: #DDD; }

.top-bar .toggle-topbar.menu-icon a span {
  box-shadow: 0px 10px 0px 1px #337F7F,
              0px 16px 0px 1px #337F7F,
              0px 22px 0px 1px #337F7F;
}

.top-bar-section .right li a:hover {
  background: #DDD;
  color: #337F7F;
}

.top-bar .name h1 a {
  font-stretch: condensed;
  font-size: 1.11em;
  color: #337F7F;
  text-shadow: 0px 0px 1px #333;
}

#open_hardware {
  border-left: 1px solid #6c6c6c;
}


#footer {
  padding-top: 20px;
  margin-top: 20px;
  background-color: #333;
  background: url('../img/binding_dark.png') repeat;
}
#footer ul { list-style: none; }
#footer ul li { padding-top: 10px; }

@media only screen and (max-width: 40em) {
  #footer { text-align: center; }
  #footer ul {
    border-top: 1px dashed #6c6c6c;
    padding-top: 1em;
  }
}

@media only screen and (min-width: 40.063em) {
  img.logo {
    padding: 9px 5px 0 0;
    vertical-align: text-top;
  }
  .top-bar .name h1 a {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-shadow: 0px 0px 1px #333;
  }
  #footer { padding-bottom: 40px; }
  #footer .large-3.column {
    border-left: 1px dashed #6c6c6c;
  }
}

#footer a {
  font-size: 1.1em;
  font-weight: bold;
}

#footer,
#footer h1,
#footer h2,
#footer a {
  text-shadow: 1px 1px 2px black;
  color: #6c6c6c;
}

#footer ul li a:hover { color: #7c7c7c; }

.top.column {
  text-shadow: 1px 1px 2px black;
  background-image: url("../img/didv_blue_0.png");
  padding-top: 50px;
}

@media only screen and (min-width: 64.063em) {
  .top.column { padding-right: 40%; }
}
